<!--templates/base.html-->
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{data['site-title']}}</title>
    <script src="/static/scripts/jQuery.js"></script>
    <link href="/static/styles/base.css" rel="stylesheet">
    <link href="/static/fonts/setup.css" rel='stylesheet'>
    <link href="/static/images/site_logo.png" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://apis.google.com/js/api.js'></script>
    {% endblock %}
  </head>
  <body>
    <script>
      var fb_api = false;
      window.fbAsyncInit = function(){
        fb_api = true;
      };
    </script>
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/km_KH/sdk.js#xfbml=1&version=v3.2"></script>
    
    <section>
    <div class="header-outer">
    <section id="header" class="header header-region">
      <div class="date">
        {{ data['date'] }}
      </div>
      <div id='blog-title'><a href="/">{{data['site-title']}}</a></div>
      <div class="search-wrapper">
        <div class="search">
        <input type="text" placeholder="Search" /><input type="button" value="ស្វែង​រក" />
        </div>
      </div>
    </section>
    </div>
    <div class='menu-wrapper'>
      <nav id="menu" class="menu region">
        <div class="topnav" id="myTopnav">
          <a href="/" id="home" class="active"><img src="/static/images/house.png" /></a>
          <a href="/category/ការអភិវឌ្ឍ/" >ការអភិវឌ្ឍ</a>
          <a href="/category/ជាតិ/">ជាតិ</a>
          <a href="/category/អន្តរជាតិ/">អន្តរជាតិ</a>
          <a href="/category/រឿង​ភាគ/">រឿង​ភាគ</a>
          <a href="#about">អំពី​យើង​ខ្ញុំ</a>
          <a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
            <i class="fa fa-bars"></i>
          </a>
      </nav>
      <script>
      function mobileMenu() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }

      var loc = (window.location).toString();
      $('#myTopnav').children('a').each(function() {
        if(loc == (this.href)){
          $('.active').removeClass();
          $(this).addClass("active"); 
        }else{
          $(this).removeClass("active"); 
        }
      });
      
      </script>
    </div>

    {% block panel %}{% endblock %}
    {% block ad %}{% endblock %}
    
    {% block main %}
    <div id="main" class="main region">
      {% block content %}
      
      {% endblock %}
      {% block sidebar %}
      <div id="sidebar">
        
      </div>
      {% endblock %}
    </div>
    {% endblock %}

    {%block footer %}
    <div id="footer">© Copyright 2021 by <a href="https://www.khmerweb.app/">Khmer Web</a></div>
    {% endblock %}

  </body>
</html>