<!--templates/base.html-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{data['site-title']}}</title>
    <script src="/static/scripts/jQuery.js"></script>
    <link href="/static/styles/base.css" rel="stylesheet">
    <link href="/static/fonts/setup.css" rel='stylesheet'>
    <link href="/static/images/site_logo.png" rel="icon">
  </head>
  <body>
    <section id="header">
      <div class="date">
        {{ data['date'] }}
      </div>
      <div id='blog-title'>{{data['site-title']}}</div>
      <div class="search">
        <input type="text" placeholder="Search" /><input type="button" value="ស្វែង​រក" />
      </div>
    </section>
    <div class='menu-wrapper'>
      <nav id="menu" class="menu region">menu</nav>
    </div>
  </body>
</html>