<!--templates/index.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="/static/scripts/post.js"></script>
<link href="/static/styles/post.css" rel="stylesheet">
{% endblock %}

{% block ad %}
<div class="ad region">
  <img src="/static/images/ad.jpg" />
</div>
<div style="clear: both;"></div>
{% endblock %}

{% block content %}
<div id='content'>
{% if 'post' in data %}
<h3 class="post-title">{{ data['post']['title'] }}</h3>  

<div class="meta">
  <span class="author">​ចុះ​ផ្សាយ​ដោយៈ {{ data['post']['author']['displayName'] }}</span>
  <span class="date"></span>
</div>

<div id="__KBPlayer__">
  <div id="post-content">{{ data['post']['content']|safe }}</div>
</div>

<script>
  var POSTID = '{{ data["id"] }}';
  
  $('#content .date').append(post.toKhDate("{{ data['post']['published'] }}"));
  var str = $('#post-content').html();
  if(str.indexOf('__video-id__') != -1){
    $('#__KBPlayer__').attr('id', "KBPlayer");
    post.setPostVid('post-content')
  }

  post.id = '{{ data["id"] }}';
</script>
{% endif %}

<div style="margin-top:20px;" id="disqus_thread"></div>
<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://khmerweb.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
{%  endblock %}