<!--templates/search.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/static/styles/search.css" rel="stylesheet">
{% endblock %}

{% block ad %}
<div class="ad region">
  <img src="/static/images/ad.jpg" />
</div>
<div style="clear: both;"></div>
{% endblock %}

{% block content %}
<div id='content'>
<h2 class="search-title">លទ្ធផល​នៃ​ការស្វែង​រកៈ</h2>  

{% if 'posts' in data %}
<ul id="search-result">
{% for post in data['posts'] %}
<li><a href="/post/{{ post['id'] }}/">{{ post['title'] }}</a></li>
{% endfor %}
{% endif %}
</ul>

</div>
{%  endblock %}