/* static/styles/index.css */
#panel{
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 15px;
  background: lavender;
  padding: 15px;
}
#panel .post-outer, #content .post-outer{
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
#panel .post, #content .post{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#panel .post p, #content .post p{
  position: absolute;
  bottom: 0;
  color: white;
  padding: 15px 10px 10px;
  text-shadow:  2px 2px black;
  width: 100%;
  font-size: 15px;
  background: linear-gradient(to top, black, transparent);
}
#panel .post span{
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  text-shadow:  2px 2px black;
}
#panel .post-outer:nth-child(1){
  grid-column: 1 / span 3;
}
#panel .post-outer:nth-child(2){
  grid-column: 4 / span 3;
}
#panel .post-outer:nth-child(1) p,
#panel .post-outer:nth-child(2) p,
#panel .post-outer:nth-child(1) span,
#panel .post-outer:nth-child(2) span{
  font-size: 18px;
}
#panel .post-outer:nth-child(1) .play-icon,
#panel .post-outer:nth-child(2) .play-icon{
  width: 15%;
}
#panel .post-outer:nth-child(3){
  grid-column: 1 / span 2;
}
#panel .post-outer:nth-child(4){
  grid-column: 3 / span 2;
}
#panel .post-outer:nth-child(5){
  grid-column: 5 / span 2;
}
#panel .post img, #content .post img{
  width: 100%;
  min-height: 100%;
}
#panel .post .play-icon{
  width: 17%;
  min-height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation{
  text-align: center;
  width: 100%;
  background: lavender;
  padding-bottom: 5px;
}
.navigation img{
  height: 27px;
}
.navigation img:hover{
  cursor: pointer;
  opacity: .7;
}
.ad{
  margin-top: 20px;
}
.ad img{
  width: 100%;
  float: left;
}
#content #channel{
  background: darkgrey;
  padding:30px 15px 6px;
  border-radius: 4px;
}
#content #channel #screen{
  position: relative;
  padding-top: 56.25%;
}
#content #channel #screen #kvid-screen{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#kplaylistPanel{
  overflow:auto;
  height:485px;
  background-color:#404040;
  }
.kplaylistItem{
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 10px;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid grey;
  background:#333131;
}
.kplaylistItem:hover{
  cursor:pointer;
  background-color:#282828;
}
.kplaylistItem img{
  height:84.375px;
  width:150px;
  border-radius:2px;
  border:1px solid white;
  float:left;
}
.kplaylistItem img:hover{
  opacity: .7;
}
.klabel{
  color:white;
}
#kdownloadButton{
  text-align: center;
  padding: 5px 0 0;
}
#kdownloadButton input{
  text-align:center;
  margin:0 auto 5px;
  padding: 0 10px;
  font: 14px/1.5 Vidaloka, OdorMeanChey;
}
#next-page{
  text-align:center;
  color:orange;
  margin:10px 0 3px;
}

.new-vid{
  display:inline-block;
  background:#006ba1;
  color:white;
  padding:5px;
  width:120px;
  text-align:center;
  border-radius:2px;
  margin-right:auto;
  margin-left:auto;
  margin-top:0px;
}
.new-vid:hover{
  cursor:pointer;
}
  
@media only screen and (max-width:600px){
  #panel{
    grid-template-columns: 100%;
  }
  #panel .post-outer:nth-child(1){
    grid-column: 1 / span 1;
  }
  #panel .post-outer:nth-child(2){
    grid-column: 1 / span 1;
  }
  #panel .post-outer:nth-child(1) p,
  #panel .post-outer:nth-child(2) p,
  #panel .post-outer:nth-child(1) span,
  #panel .post-outer:nth-child(2) span{
    font-size: 15px;
  }
  #panel .post-outer:nth-child(1) .play-icon,
  #panel .post-outer:nth-child(2) .play-icon{
    width: 17%;
  }
  #panel .post-outer:nth-child(3){
    grid-column: 1 / span 1;
  }
  #panel .post-outer:nth-child(4){
    grid-column: 1 / span 1;
  }
  #panel .post-outer:nth-child(5){
    grid-column: 1 / span 1;
  }
  
}