/* /static/styles/post.css */
.ad{
  padding:0;
}
.ad img{
  width: 100%;
  margin: 20px 0 0;
  float: left;
}
#content{
  background: lavender;
  padding: 20px;
}
#content .post-title{
  font: 22px/1.5 Oswald, Limonf3;
}
#content .meta{
  margin: 20px 0;
}
#content .meta .date{
  float: right;
}
#content #post-content,
#content .description{
  font: 17px/1.75 Courgette, HandWriting;
  font-weight: 600;
  color: rgb(77, 77, 77)
}
#content #post-content img{
  width: 100%;
}
#content .description{
  margin-top: 10px;
}
#content #player-outer{
  position: relative;
  padding-top: 56.25%;
}
#content #player{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#KBPlayer{
  background:black;
  padding: 30px 15px;
  border-radius: 4px;
}
#relatedPosts{
  background:#404040;
  max-height:390px;
  overflow:auto;
}
#relatedPosts .div-part{
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 10px;
  align-items: center;
  padding: 5px;
  height: auto;
  border-top: 2px solid grey;
}
#relatedPosts .div-part .thumb{
  display: block;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 2px;
}
#relatedPosts .div-part .thumb img{
  width: 100%;
  min-height: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
#relatedPosts .div-part a{
  color: white;
  font: 18px/1.5 Courgette, HandWriting;
}